


<div class="full-height">
  <p class="welcome-text">Hello, Welcome to Task Management App</p>
</div>



<div class="row justify-content-center">
  <div class="col-auto">
    <div class="btn-group">
      <button 
        type="button" 
        (click)="changeTab('taskitem')" 
        class="btn" 
        [ngClass]="currentComponent=='taskitem' ? 'btn-success' : 'btn-primary'">
        Taskitem
      </button>
      <button 
        type="button"  
        (click)="changeTab('tasklist')" 
        class="btn" 
        [ngClass]="currentComponent=='tasklist' ? 'btn-success' : 'btn-primary'">
        Tasklist
      </button>
      <button 
        type="button"  
        (click)="changeTab('taskform')" 
        class="btn" 
        [ngClass]="currentComponent=='taskform' ? 'btn-success' : 'btn-primary'">
        Taskform
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12" *ngIf="currentComponent=='taskitem'">
    <app-taskitem></app-taskitem>
  </div>
  <div class="col-12" *ngIf="currentComponent=='taskform'">
    <app-taskform></app-taskform> 
  </div>
  <div class="col-12" *ngIf="currentComponent=='tasklist'">
    <app-tasklist></app-tasklist>
  </div>
</div>
